
/* Reset styling start */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
/*line-height:1px;*/
background-color: #fff;
font-size: 14px;
font-family: "Lato Regular","verdana",serif;


}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0px;
font-size:100%;
vertical-align:baseline;
background:transparent;
vertical-align: baseline;
text-decoration:none;
color: #012134;

}

a:hover{
	
	background-color: #66ccff;
	border-radius: 40px;
	background-size: 60px;

	
}
.textbox{

	background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 275px; 
    margin-top: 10px;
}



/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;

}
/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}
del {
text-decoration: line-through;
}
abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}
table {
border-collapse:collapse;
border-spacing:0;
}
/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}
input, select {
vertical-align:middle;
}
.content_clear{
	clear: both;
}
#wrapper{
	width: 1300px;
	margin: 0px auto;
	background-color: #ffff;
	box-shadow: 1px;
}
#logo{

	float: left;
	display: block;
    width: 174px;
    height: 38px;
    margin-top: 0px;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
}
header{
	margin-top: 50px;
}
.main_nav {
	float: right;
	margin-right: 20px;
	font-size: 12px;
}
.main_nav ul li{

	float: left;
	margin-left:10px;
	margin-top:10px;
}
.main_nav ul li a{
	display: block;
	padding: 10px 25px;
	
}
.page-title{
	color: #666666;
	text-align: center;
	margin-top: 50px;
	font-size: 26px;
}
.main_slider{

	margin-top: 20px;
}
.image_div{
	padding-left: 75px;
	width: 560px;
	height: 650px;
	float: left;
	background-image: url(images/iphone.png);
	background-repeat: no-repeat;
}

.slider_container{
	margin-top: 150px;
	margin-left: 30px;
	width: 635px;
	height: 500px;
	float: left;
}
.icons{
	
	width: 70px;
	height: 70px;
	float: left;
}
.img_details{
	margin-top: 20px;
}
.icons_details{
	margin-left: 10px;
	color: #666666;
	float: left;
	width: 555px;
	height: 70px;
}
.mid-slider{

	margin-top: 20px;
	height: 455px;
	background-color: #6cc6eb;
}

.folder_img{
	background-image: url(images/what_we_do.png);
	background-repeat: no-repeat;
	display: block;
	height: 250px;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 50px;

}

.folder_img_txt{

	text-align: center;
	margin-top: 30px;
	color: #fff;
}

.subscriptions_1{
	background-color: #f4f4f4;
	text-align: center;
}
.subscriptions_2{
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
}
.subscriptions_2 h3{

	font-size: 20px;
}
.subscriptions_2 p{

	font-size: 15px;
}
.footer-content{

	background-color: #575859;
	height: 200px;
}
.footer-copyright{
	height: 100px;
	width: 358px;
	float: left;
	padding-left:75px;
	padding-top: 100px; 
	color: #6f6f6f;
}
.middle-logo{

	height: 100px;
	display: block;
	width: 433px;
	float: left;
	padding-top: 100px; 
	text-align: center;
}
.fb-like{
	float: left;
	width: 168px;
	height: 100px;
	padding-top: 100px;
	padding-left: 265px;
}
