
/* Reset styling start */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
/*line-height:1px;*/
background-color: #fff;
font-size: 14px;
font-family: "Lato Regular","verdana",serif;


}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

.main_nav ul li a {
margin:0;
padding:0px;
font-size:100%;
vertical-align:baseline;
background:transparent;
vertical-align: baseline;
text-decoration:none;
color: #012134;

}

.main_nav ul li a:hover{
	
	background-color: #66ccff;
	border-radius: 40px;
	background-size: 60px;

	
}


/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;

}
/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}
del {
text-decoration: line-through;
}
abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}
table {
border-collapse:collapse;
border-spacing:0;
}
/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}
input, select {
vertical-align:middle;
}
.content_clear{
	clear: both;
}
#wrapper{
	width: 1300px;
	margin: 0px auto;
	background-color: #ffff;
	box-shadow: 1px;
}
#logo{

	float: left;
	display: block;
    width: 174px;
    height: 38px;
    margin-top: 0px;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
}
header{
	margin-top: 50px;
}
.main_nav {
	float: right;
	margin-right: 20px;
	font-size: 12px;
}
.main_nav ul li{

	float: left;
	margin-left:10px;
	margin-top:10px;
}
.main_nav ul li a{
	display: block;
	padding: 10px 25px;
	
}
.page-title{
	color: #666666;
	text-align: center;
	margin-top: 50px;
	font-size: 26px;
}
.main_slider{

	margin-top: 20px;
}
.image_div{
	margin-left: 75px;
	width: 560px;
	height: 650px;
	float: left;
	background-image: url(images/iphone.png);
	background-repeat: no-repeat;
}
.slider_container{
	margin-top: 150px;
	margin-left: 30px;
	width: 635px;
	height: 500px;
	float: left;
}
.icons{
	
	width: 70px;
	height: 70px;
	float: left;
}
.img_details{
	margin-top: 20px;
}
.icons_details{
	margin-left: 10px;
	color: #666666;
	float: left;
	width: 555px;
	height: 70px;
}
.mid-slider{
	height: 500px;
	background-color: #6cc6eb;
	padding-top: 55px;
}
.folder_img{
	background-image: url(images/what_we_do.png);
	background-repeat: no-repeat;
	display: block;
	height: 300px;
	width: 400px;
	margin: 0px auto;

}
/*.folder_img{
	background-image: url(images/input_field_shadow.png);
}*/
.folder_img_txt{
	text-align: center;
	margin-top: 30px;
	color: #fff;
}

.customer_list{
	height: 150px;
	background-color: #f4f4f4;
}

.customer_list ul{
	list-style-type: none;
	display: table;
	margin: 0px auto;
}
.customer_list ul li{
	float: left;
	margin-top: 35px;
}
.news_letters{
	height: 140px;
	padding-top: 40px;
}
.news_letters h3{
	text-align: center;
	margin: 0px auto;
	display: block;
	height: 30px;
	width: 200px;
	font-size: 18px;
}
.news_letters p{
	text-align: center;
	margin: 0px auto;
	display: block;
	height: 30px;
	width: 400px;
	font-size: 16px;
}
.emailbox{
	background: white; 
    border: 1px solid #DDD; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none;
    border-radius: 40px; 
    height:40px; 
    width: 325px; 
    display: block;
    text-align: center;
    margin: 15px auto;
}
.footer-content{

	background-color: #838484;
	height: 218px;
	width: 1300px;
	margin: 0px auto;
}
.footer-copyright{
	float: left;
	color: #6f6f6f;
	width: 433px;
}

.footer-copyright p{
	display: block;
	margin: 0px auto;
	text-align: center;
	height: 20px;
	width: 200px;
	padding-top: 100px;
}
.middle-logo{

	float: left;
	width: 433px;
}
.middle-logo img{

	display: block;
	margin: 0px auto;
	padding-top: 100px;
}
.fb-like{
	width: 433px;
	float: right;

}
.twitter{

	background-image: url(images/twitter.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	width: 115px;
	margin: 100px 0px 0px 0px;
}

.fb{
	background-image: url(images/fb-small.png);
	background-repeat: no-repeat;
	display:inline-block;
	height: 20px;
	width: 50px;
	margin: 100px 0px 0px 115px;
}